---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      <p>
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}
        {%- if page.category -%}
          &nbsp;• <span>Category: {{ page.category }}</span>
        {%- endif -%}
      </p>
      <p>
        {%- if page.edit -%}
          <span>last update: </span>
          <time class="dt-published" datetime="{{ page.edit | date_to_xmlschema }}">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.edit | date: date_format }}
          </time>
        {%- endif -%}
      </p>
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="section-divider">
    <hr class="section-divider">
  </div>

  <!-- pagination -->
  <div class="page-navigation">
      <ul>
        <li>
            {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                        <path d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z"></path>
                    </svg>
                </span>
                <span>
                &nbsp;previous
                <!-- <br>{{page.previous.title}} -->
                </span>
            </a>
            {% endif %}
        </li>
        <li>
            {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">
                <span>
                    next &nbsp;
                    <!-- {{page.next.title}} -->
                </span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                    <path d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z"></path>
                    </svg>
                </span>
            </a>
            {% endif %}
        </li>
      </ul>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<!-- ← -->
<!-- → -->
